<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Jamal's Portfolio</title>
  <link rel="icon" type="image/png" href="/img/favicon.ico"/>
  <link rel="shortcut icon" type="image/png" href="/img/favicon.ico"/>

  <!-- Bootstrap Core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom Fonts -->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
  <link href="vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=ZCOOL+KuaiLe" rel="stylesheet"> 

  <!-- Custom CSS -->
  <link href="css/stylish-portfolio.min.css" rel="stylesheet">


</head>

<body id="page-top">

  <!-- Navigation -->
  <a class="menu-toggle rounded" href="#">
    <i class="fas fa-bars"></i>
  </a>
  <nav id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand">
        <a class="js-scroll-trigger" href="#page-top">Menu</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="#page-top">Home</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="#about">About</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="#services">Services</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="#portfolio">Portfolio</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="#contact">Contact</a>
      </li>
    </ul>
  </nav>

  <!-- Header -->
  <header class="masthead d-flex">
    <div class="container text-center my-auto">
      <h1 class="glitch__line glitch__line--second"></h1>
      <h1 class="glitch__line glitch__line--first"></h1>
      <h1 class="glitch__line glitch__line--second"></h1>
      <h1 class="glitch__line glitch__line--first"></h1>

      <div class="glitch" data-text="Strobocops">
        <h1 class="glitch__color glitch__color--red" style="opacity: 0.6">Jamal Amar</h1>
        <h1 class="glitch__color glitch__color--blue" style="opacity: 0.6">Jamal Amar</h1>
        <h1 class="glitch__color glitch__color--green" style="opacity: 0.6">Jamal Amar</h1>
        <h1 class="glitch__main">Jamal Amar</h1>
<!--         <h1 class="glitch__line glitch__line--first"></h1>
        <h1 class="glitch__line glitch__line--second"></h1> -->
    </div>
      <!-- <h1 class="mb-1" style="color: white;">Jamal Amar</h1> -->
      <!-- <h3 class="mb-5">
        <em style="color: white; opacity: 0.9">♒︎♒︎♒︎♒︎♒︎♒︎♒︎♒︎♒︎♒︎♒︎</em>
      </h3> -->
      <div class="glitch" data-text="Strobocops"> 
        <a class="btn  btn-xl glitch__color glitch__color--red" href="#about" style="opacity: 0.4">Find Out More</a>
        <a class="btn  btn-xl glitch__color glitch__color--blue" href="#about" style="opacity: 0.4">Find Out More</a>
        <a class="btn  btn-xl glitch__color glitch__color--green" href="#about" style="opacity: 0.4">Find Out More</a>
        <a class="btn btn-xl js-scroll-trigger glitch__color glitch__main" href="#about" style="opacity: 0.8">Find Out More</a>
        
      </div>
    </div>
    <div class="overlay"></div>
  </header>

  <!-- About -->
  <section class="content-section" id="about">
    <div class="container text-center">
      <div class="row">
        <div class="col-lg-10 mx-auto">
          <h2 class="glitchz" data-text="Bio" style="right: 70px">Bio</h2>
            <p class="lead mb-5" >"Multi-Cultural Developer with a passion for Tech and Cosmology. My insatiable hunger to learn and understand things is very well reflected on my ability to break down and solve problems."
            </p>
          <a class="btn btn-dark btn-xl js-scroll-trigger" style="opacity: 0.8" href="#services">Skills</a>
        </div>
      </div>
    </div>
  </section>



    <!-- Callout -->
<!--   <section class="callout">
    <div class="container text-center">
      <h2 class="mx-auto mb-5">Welcome to
        <em>your</em>
        next website!</h2>
      <a class="btn btn-primary btn-xl" href="https://startbootstrap.com/template-overviews/stylish-portfolio/">Download Now!</a>
    </div>
  </section> -->



  <!-- Services -->
  <section class="content-section bg-dark text-white text-center" id="services">
    <div class="container" >
      <div class="">
        <!-- <h3 class="text-danger mb-0">Check it out!</h3> -->
        <h2 class="mb-5 text-secondary top-skills" >Top Skills</h2>
      </div>
      <div class="row">
        <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
          <span class="service-icon rounded-circle mx-auto mb-3">
            <i class="icon-star"></i>
          </span>
          <h4 class="text-secondary">
            <strong>React.Js</strong>
          </h4>
          <p class="text-faded mb-0">JavaScript library for building user interfaces.</p>
        </div>
        <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
          <span class="service-icon rounded-circle mx-auto mb-3">
            <i class="icon-energy"></i>
          </span>
          <h4 class="text-secondary">
            <strong>Python3</strong>
          </h4>
          <p class="text-faded mb-0"> An interpreted, high-level, general-purpose programming language.</p>
        </div>
        <div class="col-lg-3 col-md-6 mb-5 mb-md-0">
          <span class="service-icon rounded-circle mx-auto mb-3">
            <i class="icon-people"></i>
          </span>
          <h4 class="text-secondary">
            <strong>PostgresSQL & MongoDB</strong>
          </h4>
          <p class="text-faded mb-0">Created multiple Databases, either SQL or No-SQL.</p>
        </div>
        <div class="col-lg-3 col-md-6">
          <span class="service-icon rounded-circle mx-auto mb-3">
            <i class="icon-rocket"></i>
          </span>
          <h4 class="text-secondary">
            <strong>Node.JS</strong>
          </h4>
          <p class="text-faded mb-0">From simple routers to powerful API's.</p>
        </div>
      </div>
    </div>
  </section>


  <!-- Portfolio -->
  <section class="content-section " id="portfolio">
    <div class="container">
      <div class="text-center">
        <!-- <h3 class="text-secondary mb-0">Portfolio</h3> -->
        <h2 class="text-primary mb-5 glitchz recent-projects" data-text="Recent Projects">Recent Projects</h2>
      </div>
      <div class="row no-gutters">
        <div class="col-lg-6">
          <a class="portfolio-item" href="https://github.com/jamalamar/Final_Fantasy_Game" target="_blank">
            <span class="caption">
              <span class="caption-content">
                <h2>FFVI Game</h2>
                <p class="mb-0">Final Fantasy fighting game using Javascript!</p>
              </span>
            </span>
            <img class="img-fluid" src="img/ffvi.gif" alt="">
          </a>
        </div>
        <div class="col-lg-6">
          <a class="portfolio-item" href="https://github.com/jamalamar/React_Space_Social_Network" target="_blank">
            <span class="caption">
              <span class="caption-content">
                <h2>Space React</h2>
                <p class="mb-0">Keep up to date with latest pictures from space!</p>
              </span>
            </span>
            <img class="img-fluid" src="img/astro.gif" alt="">
          </a>
        </div>
        <div class="col-lg-6">
          <a class="portfolio-item" href="https://github.com/jamalamar/Jamal-s-Python-Games-" target="_blank">
            <span class="caption">
              <span class="caption-content">
                <h2>Python Games</h2>
                <p class="mb-0">Test your knowledge with these fun games using Python3!</p>
              </span>
            </span>
            <img class="img-fluid" src="img/python.gif" alt="">
          </a>
        </div>
        <div class="col-lg-6">
          <a class="portfolio-item" href="https://jamal-geoquake.herokuapp.com/" target="_blank">
            <span class="caption">
              <span class="caption-content">
                <h2>Geo-Quake</h2>
                <p class="mb-0">Information and Location of the most recent Earthquakes around the Globe!</p>
              </span>
            </span>
            <img class="img-fluid" src="img/quake.gif" alt="">
          </a>
        </div>
      </div>
    </div>
  </section>

  <!-- Call to Action -->
<!--   <section class="content-section bg-dark text-white">
    <div class="container text-center">
      <h2 class="mb-4">The buttons below are impossible to resist...</h2>
      <a href="#" class="btn btn-xl btn-light mr-4">Click Me!</a>
      <a href="#" class="btn btn-xl btn-dark">Look at Me!</a>
    </div>
  </section> -->

  <!-- Map -->
  <section id="contact" class="map">
    <iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=100%&amp;height=600&amp;hl=en&amp;q=600%20Congress%20Ave+(Jamal%20Amar)&amp;ie=UTF8&amp;t=&amp;z=14&amp;iwloc=B&amp;output=embed"></iframe>
    <br />
    <small>
      <a href="https://maps.google.com/maps?width=100%&amp;height=600&amp;hl=en&amp;q=600%20Congress%20Ave+(Jamal%20Amar)&amp;ie=UTF8&amp;t=&amp;z=14&amp;iwloc=B&amp;output=embed"></a>
    </small>
  </section>


  <!-- Footer -->
  <footer class="footer text-center bg-dark" style="background-color: white">
    <div class="container">
      <ul class="list-inline mb-5">
        <li class="list-inline-item">
          <a class="social-link rounded-circle text-white mr-3" href="https://www.linkedin.com/in/jamal-amar/" target="_blank">
            <i class="icon-social-linkedin"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="social-link rounded-circle text-white mr-3" href="#">
            <i class="icon-social-twitter"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="social-link rounded-circle text-white" href="https://github.com/jamalamar" target="_blank">
            <i class="icon-social-github"></i>
          </a>
        </li>
      </ul>
      <p class="text-muted small mb-0">Copyright &copy; Jamal's Porfolio 2019</p>
    </div>
  </footer>

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded js-scroll-trigger" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="js/stylish-portfolio.min.js"></script>

</body>

</html>
